@charset "UTF-8";

@font-face {
  font-family: 'Basement Grotesque';
  src: url('assets/fonts/BasementGrotesque-Black_v1.202.woff2') format("woff2"),
  url('assets/fonts/BasementGrotesque-Black_v1.202.woff') format("woff"),
  url('assets/fonts/BasementGrotesque-Black_v1.202.otf') format("opentype");
}

@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Miriam Libre";
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url("assets/fonts/MiriamLibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Bold.woff2') format('woff2'),
  url('assets/fonts/Iosevka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Italic.woff2') format('woff2'),
  url('assets/fonts/Iosevka-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Oblique.ttf') format('truetype');
  font-style: oblique;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-Extended.woff2') format('woff2'),
  url('assets/fonts/Iosevka-Extended.ttf') format('truetype');
  font-stretch: expanded;
}

@font-face {
  font-family: 'Iosevka';
  src: url('assets/fonts/Iosevka-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans Variable';
  src: url('assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Custom Properties */
@property --surface-1 {
  syntax: "<color>";
  initial-value: #040d0e;
  inherits: true;
}

@property --overlay-1 {
  syntax: "<color>";
  initial-value: #111;
  inherits: false;
}

@property --text-1 {
  syntax: "<color>";
  initial-value: #b0deda;
  inherits: true;
}

@property --text-2 {
  syntax: "<color>";
  initial-value: #e5ecea;
  inherits: false;
}

:root {
  --surface-1: #040D0E;
  --surface-2: #0b2021;

  --backdrop: #B9DDDA19;

  --overlay-1: #111;
  --overlay-2: #111;

  --text-1: #B9DDDA;
  --text-2: #ffffff;

  --bg-clr: var(--surface-1);
  --text-clr: var(--text-1);
  --border-clr: var(--overlay-1);

  --wrapper-width: 1000px;

  scroll-behavior: smooth;
}

@layer base {
  :root {
    --surface-1: #040D0E;
    --surface-2: #0b2021;

    --backdrop: #B9DDDA19;

    --overlay-1: #111;
    --overlay-2: #111;

    --text-1: #B9DDDA;
    --text-2: #ffffff;

    --bg-clr: var(--surface-1);
    --text-clr: var(--text-1);
    --border-clr: var(--overlay-1);

  }

  body {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@layer components {
  :root {
    --bg-clr: #b0deda;
    --shadow-clr: #B0DEDA33;
    --text-clr: #b0deda;
    --default-text: #e5ecea;

    --image-size: 30px;
  }

  site-navbar {
    font-family: Iosevka, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-clr);
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    & nav {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      max-width: 1000px;
      width: 100%;

    }

    & a {
      color: var(--default-text);
      text-decoration: none;

      padding: 0.5rem;
      border-radius: 5rem;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      backdrop-filter: blur(10px);

      &:hover {
        background-color: rgba(210, 210, 210, 0.1);
      }


    }

    & img.site-icon-sheet {
      width: var(--image-size);
      height: var(--image-size);
      object-fit: cover;
      image-rendering: pixelated;
      object-position: left;

      &:hover {
        object-position: calc(-1 * var(--image-size)) 0;
      }
    }
  }
}

/*---------------------- UTIlITY CLASSES ------------------------*/

@layer utility {
  .inline-block {
    display: inline-block;
  }

  /* TODO: Convert to custom tag */
  .icon-and-text-line {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* TODO: Convert to section[appearance=column][size=sm] */
  .section,
  .sm-column-section,
  .md-column-section,
  .lg-column-section {
    margin: 60px auto;
    padding: 0 12px;
  }

  .sm-column-section {
    max-width: 800px;
  }

  .md-column-section {
    max-width: 1200px;
  }

  .lg-column-section {
    max-width: 1800px;
  }

  /* TODO: convert to img[appearance=icon][size=sm] */
  .sm-icon {
    width: 16px;
    height: 16px;
  }

  .md-icon {
    width: 32px;
    height: 32px;
  }

  .lg-icon {
    width: 64px;
    height: 64px;
  }

  .full-width {
    width: 100%;
  }

  .rounded {
    border-radius: 12px;
  }

  .center-text {
    text-align: center;
  }

  .wrap-text {
    overflow-wrap: anywhere;

    code,
    code:where(&) {
      white-space: pre-wrap;
    }
  }

  .no-text-decoration {
    text-decoration: none;
  }

  .title-font {
    font-family: var(--display-font);
    font-style: italic;
  }

  .text2-color {
    color: var(--text2-clr);
  }

  .text-accent-color0 {
    color: var(--clr0-light);
  }

  .text-accent-color1 {
    color: var(--clr1);
  }

  .bold {
    font-weight: bold;
  }

  .empty-line {
    height: 2em;
    height: 1lh;
  }

  .pixelated {
    image-rendering: pixelated;
  }

  .invert {
    filter: invert(1);
  }

  .invert-on-hover:hover {
    filter: invert(1);
  }

  .wrapper {
    width: min(var(--wrapper-width, 1200px), 100% - 2rem);
    margin-inline: auto;
  }
}


kbd > kbd {
  color: midnightblue;
  background: aliceblue;
  border-radius: 4px;
  padding-inline: 4px;
  box-shadow: 2px 2px 0 3px lightsteelblue;

  &:last-child {
    margin-inline-end: 4px;
  }
}

.item:empty {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

/*------------------------- NAVBAR STYLES ----------------------------*/
