<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <link href="../../common.css" rel="stylesheet">
  <link href="../story-styles.css" rel="stylesheet">
  <script src="../../common.js"></script>

  <title>Title</title>
</head>
<body>
<site-navbar></site-navbar>
<header class="blog-header">
  <h1>Title</h1>
  <p>
    <span class="blog-date">Date (DD Month YYYY)</span> . <span class="read-time">Xmin read</span>
  </p>
  <div class="tags">
    <span title="html"></span>
    <span title="css"></span>
    <span title="js"></span>
  </div>
</header>
<article class="blog-content">
  <h5>Header</h5>
  <p>
    For the past 5 years, I have been working with next js, and honestly I love it and it's been great. Whenever I
    wanted to spin up a new web project, I couldn't think of anything except <a href="http://nextjs.org/">Next.js</a>.
  </p>
  <p>
    But since moving up to semester 6 of my CSE degree, I was forced to go back to writing website with
    vanilla web technologies, and heck even php which I honestly don't like.
  </p>
  <p>
    But working with plain js and css, it's rewired my brain into thinking natively what the browser does. I did make a
    portfolio website in framer, but I wanted to have a blog or more of a showcase of my work and maybe remaking my
    portfolio. Recently I saw the news about gsap going free for everyone after the webflow acquisition.
  </p>
  <h5>Header</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur dolore, eius esse eum excepturi
    illum incidunt iure iusto laborum libero, minima minus omnis perspiciatis placeat qui recusandae tenetur ullam, unde
    voluptate! A assumenda debitis dolore dolores eligendi, enim exercitationem fuga laboriosam natus nesciunt nobis
    nostrum optio quisquam, ratione, reiciendis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias consequatur deleniti dolor dolores ea eos
    fugit iusto modi, mollitia officiis perferendis porro provident quidem similique temporibus velit, voluptas? At
    corporis distinctio ducimus harum iste libero molestias neque non nostrum pariatur, porro possimus quidem quisquam
    quo saepe unde voluptatem voluptatum?
  </p>
  <h5>Header</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt error inventore laborum temporibus,
    voluptas? Consectetur dolor, dolorem ducimus exercitationem harum impedit incidunt magnam modi nam necessitatibus
    nesciunt quas quidem sit velit vero. Dolore fuga laboriosam minus neque perspiciatis praesentium ratione, sapiente
    tempora vel? Consequuntur eveniet laudantium officiis voluptate voluptatem.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut delectus labore maxime nostrum, numquam porro quod
    repellat ullam veritatis? Asperiores cumque cupiditate natus odio quam? Blanditiis, commodi cumque doloribus ducimus
    ea, enim error harum magnam quod reiciendis rerum sed soluta tempora totam ullam voluptatem voluptatum. Atque eaque,
    enim! Temporibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut doloribus harum inventore nemo, sed
    voluptates! A accusamus accusantium aliquam aperiam asperiores autem delectus dolore eligendi error expedita facilis
    harum impedit iure mollitia non pariatur quia rem rerum sapiente sequi tempora temporibus, totam voluptatibus!
    Commodi ipsum possimus quos reprehenderit ut!
  </p>
  <h5>Header</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, asperiores at blanditiis culpa distinctio, eius eos
    fugit iste labore libero mollitia nemo non obcaecati officia, omnis perferendis quia quibusdam quidem quod
    reprehenderit similique tempora tenetur velit voluptas voluptatibus. Adipisci beatae fugiat impedit ipsum nam
    nesciunt odio perferendis sunt temporibus totam.
  </p>
</article>
<site-footer></site-footer>
</body>
</html>
