@font-face {
  font-family: 'Basement Grotesque';
  src: url('../assets/fonts/BasementGrotesque-Black_v1.202.woff2') format("woff2"),
  url('../assets/fonts/BasementGrotesque-Black_v1.202.woff') format("woff"),
  url('../assets/fonts/BasementGrotesque-Black_v1.202.otf') format("opentype");
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Bold.woff2') format('woff2'),
  url('../assets/fonts/Iosevka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Italic.woff2') format('woff2'),
  url('../assets/fonts/Iosevka-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Oblique.ttf') format('truetype');
  font-style: oblique;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-Extended.woff2') format('woff2'),
  url('../assets/fonts/Iosevka-Extended.ttf') format('truetype');
  font-stretch: expanded;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/Iosevka-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans Variable';
  src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Custom Properties */
@property --surface-1 {
  syntax: "<color>";
  initial-value: #040d0e;
  inherits: true;
}

@property --overlay-1 {
  syntax: "<color>";
  initial-value: #111;
  inherits: false;
}

@property --text-1 {
  syntax: "<color>";
  initial-value: #b0deda;
  inherits: true;
}

@property --text-2 {
  syntax: "<color>";
  initial-value: #e5ecea;
  inherits: false;
}

/* Reset Styles */
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Example usage */
body {
  background: var(--surface-1, black);
  color: var(--text-2, lightsteelblue);
  font-family: 'Iosevka', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.wrapper {
  width: min(1536px, 100% - 2rem);
  margin-inline: auto;
}

kbd > kbd {
  color: midnightblue;
  background: aliceblue;
  border-radius: 4px;
  padding-inline: 4px;
  box-shadow: 2px 2px 0 3px lightsteelblue;

  &:last-child {
    margin-inline-end: 4px;
  }
}

.item:empty {
  display: none;
}

/* Temporary Styles */
h1 {
  font-family: 'Basement Grotesque', 'Iosevka Web', serif;
  text-align: center;
  font-weight: 800;
  font-size: clamp(2rem, 10vw + 0.5rem, 5rem);
}
